@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
    --main-font:'Merriweather Sans', sans-serif;
  }