@import url(fonts_collors.css);

body {
    background-color: var(--body-bg-color);
    font-family: var(--main-font);
   
    box-sizing: border-box;
    margin: 0 auto;
}

main {
    margin: 0 auto;
    max-width: 100%; /*Equivale a 414px*/
    
    width: 25.875rem;
    

    display: flex;
    justify-content: center;
    flex-direction: column;
}
.topo {
    margin: 30px auto 0px;
    
    
}

.profile {
    
    display: flex;
    justify-content: center;
   
    max-width: 13.313rem; /*213px*/
    max-height: 13.313rem;

    padding: 7px;
    border: 2px solid var(--baseblue);
    border-radius: 100%;

}

.profile__img {
    /* Equivalente a 200px */
    max-width: 12.5rem; 
    max-height: 12.5rem;
    border-radius: 100%;
   
}
.text__profile {
    margin: 15px auto 33px;
    
}
a {
    text-decoration: none;
}
p {
    font-size: 1rem;
    font-weight: 300;
    color: var(--text);
    text-align: center;
    
}
h2 {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: var(--text);
    
}
.links {
    
    margin: 0px auto 68px;
}
.box__link {
  
    margin: 16px auto 16px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 326px;
    width: 326px;
    height: 49px;
    
    border: 2px solid var(--text);
    border-radius: 4px;
}
footer {
   
    display: flex;
    gap: 1.813rem;
    justify-content: center;
    
    margin: 0 auto 155px;
   
}

.cardbtn {
    display: inline-block;
    width: 326px;
    border: 2px solid var(--text);
}